<div class="border border-[#573826] rounded-lg shadow-md p-6 bg-white mt-5">
  <h1 class="text-2xl font-extrabold text-[#573826] tracking-wide mb-1">
    📆 Gestion des absences
  </h1>
  <p class="text-sm text-gray-600 mb-5">
    Liste de toutes les absences enregistrées dans le système
  </p>

  <div class="grid grid-cols-5 gap-4 px-4 py-2 border rounded shadow text-orange-600 font-semibold text-sm text-center">
    <div>Nom</div>
    <div>Prénom</div>
    <div>Date</div>
    <div>État</div>
    <div>Action</div>
  </div>

  @for (abs of paginatedAbsences; track abs.id) {
    <div class="mb-4 p-4 border rounded shadow text-center mt-5">
      <div class="grid grid-cols-5 gap-4 text-sm">
        <div>{{ abs.nom }}</div>
        <div>{{ abs.prenom }}</div>
        <div>{{ abs.date }}</div>
        <div>
            <span
                class="px-2 py-1 rounded text-xs font-semibold"
                [style.color]="abs.etat === 'justifiée' ? '#16a34a' : abs.etat === 'non justifiée' ? '#dc2626' : '#6b7280'">
                {{ abs.etat }}
            </span>
            </div>
            <div>
                <button
                    [routerLink]="['/admin/justification', abs.id]"
                    class="px-3 py-1 bg-[#573826] text-white rounded text-xs disabled:opacity-50 disabled:cursor-not-allowed"
                    [disabled]="abs.etat === 'justifiée'"
                >
                    Voir détails
                </button>
            </div>
        </div>
    </div>
    }



  <!-- Pagination -->
  <div class="flex justify-center items-center space-x-4 mt-6">
    <button (click)="previousPage()" [disabled]="currentPage === 1"
      class="px-4 py-2 btn-marron rounded disabled:opacity-50 disabled:cursor-not-allowed"
    >Précédent</button>

    <span class="text-sm text-gray-700 font-medium">
      Page {{ currentPage }} / {{ totalPages() }}
    </span>

    <button (click)="nextPage()" [disabled]="currentPage === totalPages()"
      class="px-4 py-2 btn-marron rounded disabled:opacity-50 disabled:cursor-not-allowed"
    >Suivant</button>
  </div>
</div>
