<div class="flex h-screen font-sans">
  <app-sidebar class="w-[250px]"></app-sidebar>

  <!-- Main content -->
  <div class="flex-1 flex flex-col bg-[#FFF9F2]">
    <app-navebar></app-navebar>

    <main class="flex-1 p-8">
      <section class="bg-white rounded-lg p-6 border-[#78350F] border ">
        <h2 class="text-xl text-[#78350F] font-bold">Gestion des absences</h2>
        <p class="mb-8 text-black">Liste des absents et retards</p>

        <div class="space-y-4">
          <div *ngFor="let a of paginatedAbsences"
            class="border border-black rounded-xl px-6 py-4 flex justify-between items-center shadow-[0_4px_6px_-1px_rgba(0,0,0,0.1)]">
            <div class="grid grid-cols-4 gap-x-8 gap-y-2 w-full text-sm">
              <p><span class="font-semibold text-[#EFB36B]">Nom</span><span
                  class=""><br />{{
                a.nom }}</span></p>
              <p><span class="font-semibold text-[#EFB36B]">Prenom</span><span
                  class=""><br />{{
                a.prenom }}</span></p>
              <p><span
                  class="font-semibold text-[#EFB36B]">Date</span><br /><span
                  class="">{{ a.dateAbsence }}</span></p>
              <p>
                <span class="font-semibold text-[#EFB36B]">Etat</span><br />
                <span [ngClass]="getEtatColor(a.etat)" class="font-semibold">
                  {{ getEtatLabel(a.etat) }}
                </span>
              </p>
            </div>

            <a [routerLink]="['/justification', a.id]"
              class="bg-[#78350F] text-white px-6 py-2 ml-4 rounded hover:opacity-90 font-semibold text-sm">
              Voirdétails
            </a>
          </div>
        </div>

        <div
          class="flex justify-center items-center space-x-1 mt-6 text-sm font-semibold">
          <button (click)="changePage(currentPage - 1)"
            [disabled]="currentPage === 1"
            class="bg-[#5A3E1B] text-white px-3 py-1 rounded disabled:opacity-50">
            Précédent
          </button>

          <button *ngFor="let page of [].constructor(totalPages); let i = index"
            (click)="changePage(i + 1)"
            [ngClass]="{
            'bg-[#573826] text-white': currentPage === i + 1,
            'bg-white text-black': currentPage !== i + 1
          }"
            class="border border-[#5A3E1B] px-3 py-1 rounded">
            {{ i + 1 }}
          </button>

          <button (click)="changePage(currentPage + 1)"
            [disabled]="currentPage === totalPages"
            class="bg-[#573826] text-white px-3 py-1 rounded disabled:opacity-50">
            Suivant
          </button>
        </div>

      </section>
    </main>
  </div>
</div>
