<app-sidebar
  class="fixed top-0 left-0 w-[250px] h-screen bg-[#F19120] z-50">
</app-sidebar>

<div class="ml-[250px] flex flex-col h-screen font-sans bg-[#FFF9F2]">
  <app-navebar></app-navebar>

  <main class="flex-1 overflow-y-auto p-8">
    <div class="grid grid-cols-3 gap-6 mb-10">
      <div class="bg-[#573826] p-4 rounded-lg shadow-md text-white flex items-center gap-3">
        <div class="bg-white/20 p-2 rounded-full">
          <i class="fa-solid fa-users text-white text-2xl"></i>
        </div>
        <div>
          <p class="font-semibold text-base">Présences du jour</p>
          <p class="text-2xl font-bold">{{ stats.presences }}</p>
        </div>
      </div>
      <div class="bg-[#FED7AA] p-4 rounded-lg shadow-md text-[#573826] flex items-center gap-3">
        <div class="bg-[#573826] p-2 rounded-full">
          <i class="fa-solid fa-xmark text-white text-2xl"></i>
        </div>
        <div>
          <p class="font-semibold text-base">Absences du jour</p>
          <p class="text-2xl font-bold">{{ stats.absences }}</p>
        </div>
      </div>
      <div class="bg-[#573826] p-4 rounded-lg shadow-md text-white flex items-center gap-3">
        <div class="bg-white/20 p-2 rounded-full">
          <i class="fa-solid fa-align-justify text-white text-2xl"></i>
        </div>
        <div>
          <p class="font-semibold text-base">Justifications en attente</p>
          <p class="text-2xl font-bold">{{ stats.justifications }}</p>
        </div>
      </div>
    </div>
    <div class="flex gap-4 items-start">
      <app-liste-absence-du-jour></app-liste-absence-du-jour>
      <app-liste-justifications-en-attente></app-liste-justifications-en-attente>
    </div>
  </main>
</div>
