<aside
  class="w-full bg-[#F19120] text-white flex flex-col items-center py-6 h-full">
  <div class="mb-10">
    <img src="/logo.jpg" alt="ISM" class="w-16 h-16" />
  </div>

  <nav class="flex flex-col w-full text-left space-y-4">
    <a
      routerLink="/accueil"
      routerLinkActive="bg-[#EFB36B] text-[#5A3E1B]"
      [routerLinkActiveOptions]="{ exact: true }"
      class="pl-8 py-2 font-bold rounded-r-full flex items-center space-x-2">
      <i class="fas fa-home text-white"></i>
      <span class="text-white">Accueil</span>
    </a>

    <a
      routerLink="/absences"
      routerLinkActive="bg-[#EFB36B] text-[#5A3E1B]"
      class="pl-8 py-2 font-bold rounded-r-full flex items-center space-x-2">
      <i class="fas fa-calendar-times text-white"></i>
      <span class="text-white">Absences</span>
    </a>

    <a
      routerLink="/etudiants"
      routerLinkActive="bg-[#EFB36B] text-[#5A3E1B]"
      class="pl-8 py-2 font-bold rounded-r-full flex items-center space-x-2">
      <i class="fas fa-user-graduate text-white"></i>
      <span class="text-white">Étudiants</span>
    </a>
  </nav>

  <button
    (click)="logout()"
    class="mt-auto text-sm text-white cursor-pointer flex items-center space-x-2 focus:outline-none">
    <i class="fas fa-sign-out-alt text-white"></i>
    <span class="font-bold">Déconnexion</span>
  </button>

</aside>
