<div class="min-h-screen py-10 px-8">
  <!-- Statistiques principales -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-10">
    <div class="bg-[#5c3b28] text-white p-6 text-center rounded-2xl shadow-lg">
      <h2 class="text-base font-semibold mb-2">👥 Présence du jour</h2>
      <p class="text-4xl font-extrabold">524</p>
    </div>

    <div class="bg-orange-300 text-black p-6 text-center rounded-2xl shadow-lg">
      <h2 class="text-base font-semibold mb-2">❌ Absence du jour</h2>
      <p class="text-4xl font-extrabold">268</p>
    </div>

    <div class="bg-[#5c3b28] text-white p-6 text-center rounded-2xl shadow-lg">
      <h2 class="text-base font-semibold mb-2">📋 Justifications du jour</h2>
      <p class="text-4xl font-extrabold">124</p>
    </div>
  </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-10">
        <div class="bg-white rounded-2xl shadow-md border border-[#ddd] p-6 flex flex-col justify-between h-full">
            <h3 class="text-xl font-bold text-[#5c3b28] mb-4">⏳ Absences</h3>
            <div class="space-y-4 text-sm">
                <div class="bg-orange-50 p-4 rounded-lg shadow-sm flex justify-between items-center">
                    <div>
                        <p>
                        <strong>Awa Seyni</strong> - Mat09130 <br> 
                        <strong>L3 CSDD</strong> - 8h/12h
                        </p>
                    </div>
                    <div class="flex justify-between text-sm">
                        <p class="text-red-600 font-semibold mr-3">Absent(e)</p>
                        <p class="text-gray-500">Non justifiée</p>
                    </div>
                </div>
                <div class="bg-orange-50 p-4 rounded-lg shadow-sm flex justify-between items-center">
                    <div>
                        <p>
                        <strong>Awa Seyni</strong> - Mat09130 <br> 
                        <strong>L3 CSDD</strong> - 8h/12h
                        </p>
                    </div>
                    <div class="flex justify-between text-sm">
                        <p class="text-red-600 font-semibold mr-3">Absent(e)</p>
                        <p class="text-gray-500">Non justifiée</p>
                    </div>
                </div>
                <div class="bg-orange-50 p-4 rounded-lg shadow-sm flex justify-between items-center">
                    <div>
                        <p>
                        <strong>Awa Seyni</strong> - Mat09130 <br> 
                        <strong>L3 CSDD</strong> - 8h/12h
                        </p>
                    </div>
                    <div class="flex justify-between text-sm">
                        <p class="text-red-600 font-semibold mr-3">Absent(e)</p>
                        <p class="text-gray-500">Non justifiée</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white rounded-2xl shadow-md border border-[#ddd] p-6 flex flex-col justify-between h-full">
            <h3 class="text-xl font-bold text-[#5c3b28] mb-4">📄 Justifications en attente</h3>

            <div class="space-y-4 text-sm">
                <div class="bg-green-50 p-4 rounded-lg shadow-sm flex justify-between items-center">
                    <div>
                        <strong>Adja Ndour</strong> - Mat09134 <br> 
                        Classe: <strong>L3 GLRS</strong>
                        <br><span>Absent(e) pour <strong class="text-pink-600">Maladie</strong></span>
                    </div>
                    <div class="space-x-2">
                        <button class="bg-[#5c3b28] text-white px-3 py-1 rounded hover:bg-[#40291c] transition">Détails</button>
                        <button class="bg-green-500 text-white px-3 py-1 rounded hover:bg-green-600 transition">Valider</button>
                        <button class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600 transition">Invalider</button>
                    </div>
                </div>
                <div class="bg-green-50 p-4 rounded-lg shadow-sm flex justify-between items-center">
                    <div>
                        <strong>Adja Ndour</strong> - Mat09134 <br> 
                        Classe: <strong>L3 GLRS</strong>
                        <br><span>Absent(e) pour <strong class="text-pink-600">Maladie</strong></span>
                    </div>
                    <div class="space-x-2">
                        <button class="bg-[#5c3b28] text-white px-3 py-1 rounded hover:bg-[#40291c] transition">Détails</button>
                        <button class="bg-green-500 text-white px-3 py-1 rounded hover:bg-green-600 transition">Valider</button>
                        <button class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600 transition">Invalider</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
